body , #root{
  height: 100vh;
  
}
body{
  cursor: url('./Cursor.png') , auto;
}
.qs_style{
  height: 100vh;
}
.qs_box{
  height: 500px;
}
.broke_btn{
  background-image: url(../public/crack.png);
  background-size: 40px;
  background-repeat: no-repeat;
}
.first_btn{
  position: relative;
  bottom: -200px;
  left: -30px;
  transition: 1s;

}
.sec_btn{
  position: relative;
  bottom: -200px;
  right: -30px;
  transform: translateX(-10);
  transition: 1s;
  -webkit-transform: translateX(-10);
  -moz-transform: translateX(-10);
  -ms-transform: translateX(-10);
  -o-transform: translateX(-10);
}