body , #root{
  height: 100vh;
  -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;

   /*
     Introduced in IE 10.
     See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
   */
   -ms-user-select: none;
   user-select: none;
}


.qs_style{
  height: 100vh;
}
.qs_box{
  height: 500px;
}

.first_btn{
  position: relative;
  animation-name: firstFall;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  transition: all 0.5s linear;
}
.sec_btn{
  position: relative;
  animation-name: secFall;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
  transition: all 0.5s linear;
}
@keyframes firstFall {
  from {
    transform: translateX(0);

}
  to {
   
    transform: translate(-10px ,10px) rotate(-20deg) ;
}
}

@keyframes secFall {
  from {
    transform: translateX(0);
}

  to {
    transform: translateX(10px) rotate(5deg);
    
   
}
}