body , #root{
  height: 100vh;
}
.qs_style{
  height: 100vh;
}
.qs_box{
  height: 500px;
}
.answer_btn{
  
  
}
.answer_btn::after{
  
}
.broke_btn{
  background-image: url(../public/crack.png);
  background-size: 40px;
  background-repeat: no-repeat;
}